In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Busselton,-33.6500,115.3333,71.10,67,0,5.41,AU,2022-02-04 16:56:33
1,1,Luderitz,-26.6481,15.1594,74.93,60,6,17.11,NaN,2022-02-04 16:56:34
2,2,New Norfolk,-42.7826,147.0587,57.92,74,85,2.06,AU,2022-02-04 16:56:34
3,3,Hualmay,-11.0964,-77.6139,75.56,72,38,11.39,PE,2022-02-04 16:56:35
4,4,Bluff,-46.6000,168.3333,49.80,65,61,9.86,NZ,2022-02-04 16:56:35

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure("AIzaSyAmtlN1foV7YjuFnc3WLVmQbTOz2E4YCug")

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get locations 
locations = city_data_df[["Lat","Lng"]]

# Get clouds of locations 
cloudiness = city_data_df["Cloudiness"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Get locations 
locations = city_data_df[["Lat","Lng"]]

# Get wind speed of locations 
wind = city_data_df["Wind Speed"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Hualmay,-11.0964,-77.6139,75.56,72,38,11.39,PE,2022-02-04 16:56:35
7,7,Cape Town,-33.9258,18.4232,76.12,50,0,5.99,ZA,2022-02-04 16:56:35
14,14,Voi,-3.3945,38.5630,82.26,41,88,5.10,KE,2022-02-04 16:56:38
23,23,Saint-Philippe,-21.3585,55.7679,80.19,89,100,28.68,RE,2022-02-04 16:56:40
24,24,Hermanus,-34.4187,19.2345,75.90,56,7,21.61,ZA,2022-02-04 16:56:41
33,33,Rikitea,-23.1203,-134.9692,78.22,71,87,9.57,PF,2022-02-04 16:56:45
35,35,Arraial Do Cabo,-22.9661,-42.0278,85.96,74,40,17.27,BR,2022-02-04 16:56:45
39,39,Cap Malheureux,-19.9842,57.6142,80.47,82,100,7.00,MU,2022-02-04 16:56:47
44,44,The Valley,18.2170,-63.0578,82.26,69,75,19.57,AI,2022-02-04 16:57:49
48,48,Atuona,-9.8000,-139.0333,78.39,76,10,16.58,PF,2022-02-04 16:57:51

In [11]:
preferred_cities_df.count()

City_ID       140
City          140
Lat           140
Lng           140
Max Temp      140
Humidity      140
Cloudiness    140
Wind Speed    140
Country       139
Date          140
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3           Hualmay      PE     75.56 -11.0964  -77.6139
7         Cape Town      ZA     76.12 -33.9258   18.4232
14              Voi      KE     82.26  -3.3945   38.5630
23   Saint-Philippe      RE     80.19 -21.3585   55.7679
24         Hermanus      ZA     75.90 -34.4187   19.2345
33          Rikitea      PF     78.22 -23.1203 -134.9692
35  Arraial Do Cabo      BR     85.96 -22.9661  -42.0278
39   Cap Malheureux      MU     80.47 -19.9842   57.6142
44       The Valley      AI     82.26  18.2170  -63.0578
48           Atuona      PF     78.39  -9.8000 -139.0333

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# iterate through hotel DF to get locations for each city
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    # Add latitude and longitude to parameters for search
    params["location"] = f"{lat},{lng}"
    
    # Create base_url for search
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data
    hotels = requests.get(base_url, params=params).json()
    
    # Store name of first hotel in hotel DF
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError): 
        print("No hotel found...skipping.")

No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.

In [19]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Hualmay,PE,75.56,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
7,Cape Town,ZA,76.12,-33.9258,18.4232,Southern Sun Waterfront Cape Town
14,Voi,KE,82.26,-3.3945,38.5630,Voi Wildlife Lodge
23,Saint-Philippe,RE,80.19,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
24,Hermanus,ZA,75.90,-34.4187,19.2345,Misty Waves Boutique Hotel
...,...,...,...,...,...,...
532,Nhulunbuy,AU,81.21,-12.2333,136.7667,East Arnhem Real Estate
534,San Juan,AR,83.26,-31.5375,-68.5364,Hotel Provincial
538,Phangnga,TH,75.24,8.4509,98.5298,Sunimit Mansion
539,Taganak,PH,79.77,6.0833,118.3000,Taganak
544,Rodas,CU,82.60,22.3408,-80.5572,Hostal Casa Mario

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [24]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))